@charset "UTF-8";
/* CSS Document */

body {
	margin: 0 auto 0 5%;
	font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size:10pt;
}

#container {
	width:90%;
}

h3 {
	line-height:16pt;
}

#header {
    margin: 1.5em 0 0.5em 1.5em;
}

#header .titles h1 {
    float: left;
    font-size: 16pt;
    width: 70%;
}

#header .titles hr {
    background-color: #e6e4e2;
    border: 0 none;
    height: 4px;
    margin: 0;
}

.spacer {
    clear: both;
    height: 1px;
}

table {
	border-collapse:collapse;
	border-spacing:0;

}

#course {
	margin: 1.5em 0 0.5em 1.5em;
	font-size:13px;
	line-height:22px;
}

a {
    color: #0088cc;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #15317e;
    text-decoration: underline;
}

.note_red {
	color: #b40404;
}

#container > div {
	margin: 1.5em 0 0.5em 1.5em;
}

#container #policies {
	line-height:19px;
}

#container li {
	margin-top:10px;
	text-align:justify;
}

.code_format {
	font-family:"Courier New", monospace;
}

#container #rules {
	line-height:19px;
}

#container #links {
	line-height:19px;
}

#news table {
	line-height:20px;
}

#gscale {
	margin-top:15px;
	margin-bottom:15px;
}

.bluecol {
	color:#0088cc;
}

pre {
	font-family: "Courier New";
}

.eval {
	color: #990000;
	font-weight: bold;
	font-size: 12pt;
}