@charset "UTF-8";
/* CSS Document */

body {
  background-color: #eee;
	margin: 0 auto;
	font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size:13px;
  line-height: 1.5;
  min-height: 1500px;
}

.uni {
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 28px;
  /*font-weight: normal;*/
}

.dept {
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 20px;
  font-weight: normal;
}

p {
	line-height: 1.5;
	text-align: justify;
}

#container {
	width:60%;
  margin: 70px auto;
  padding: 70px;
  background-color: #fff;
  box-shadow: 0px 0 50px #aaa;

}

h3 {
	line-height:16pt;
}

#header {
    margin: 1.5em 0 0.5em 1.5em;
}

#header .titles h1 {
    float: left;
    font-size: 16pt;
    width: 70%;
}

#header .titles hr {
    background-color: #e6e4e2;
    border: 0 none;
    height: 4px;
    margin: 0;
}

.spacer {
    clear: both;
    height: 1px;
}

table {
	border-collapse:collapse;
	border-spacing:0;

}

#course {
	margin: 1.5em 0 0.5em 1.5em;
	font-size:13px;
	line-height:22px;
}

a {
    color: #0088cc;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #15317e;
    text-decoration: underline;
}

.note_red {
	color: #b40404;
}

#container > div {
	margin: 1.5em 0 0.5em 1.5em;
}

#container #policies {
	line-height:19px;
}

#container li {
	margin-top:10px;
	text-align:justify;
}

.code_format {
	font-family:"Courier New", monospace;
}

#container #rules {
	line-height:19px;
}

#container #links {
	line-height:19px;
}

#news table {
	line-height:20px;
}

#gscale {
	margin-top:15px;
	margin-bottom:15px;
}

#gscale td {
	padding-left:5px;
}

pre {
	border-radius: 3px;
	font-family:"Courier New", monospace;
	background-color: #f7f7f7;
}

.eval {
	color: #990000;
	font-weight: bold;
	font-size: 12pt;
}

#taoffice td{
	padding-left: 10px;
	padding-right: 10px;
}

#proj1 ol li {
	margin-top: 0px;
}

code {
	font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
	background-color: #f7f7f7;
	padding: 3px;
}

h2 {
  font-size: 28px;
  margin: 40px 0 20px 0;
}

.schedule th {
  font-weight: bold;
  font-size:15px;
  border-collapse: collapse;
  text-align: left;
  padding: 15px;

}
.schedule td {
  padding: 15px;
  margin-left: 10px;
}

.schtable {
  width: 100%;
  text-align: left;
  line-height: 1.5;

}
